 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background: #000;
     overflow: hidden;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 canvas {
     display: block;
 }